@font-face {
    font-family: 'RM Typerighter';
    src: url('../assets/rm-typerighter/rm_typerighter.ttf') format('ttf');
}

body{
    background-color: floralwhite;
    font-family: 'RM Typerighter';


    /*bold, italic, quoteformat, one more...*/



}

.quoteformat {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    color: gray;

}

.linkformat {
    
}