body{
    background-color: floralwhite;
    font-family: 'American Typewriter Light';
    h1 {
        font-family: 'American Typewriter Bold';
    }

    h2 {
        font-family: 'American Typewriter Bold';
    }


    /*bold, italic, quoteformat, one more...*/
    .bold {
        font-weight: bold;
    }


.quoteformat {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;

}

}

